@for $i from 1 through 100 {
    @if $i % 5 == 0 {
    .font-size-#{$i} {
        font-size: #{$i}px;
     }
    }
}

$values: dashed, dotted, double line-through, none, overline, solid, underline, wavy ;
@each $value in $values {
  .txt-decr-#{$size} {
    text-decoration: $value;
  }
}